@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');



:root {
    --border: 1px solid rgba(128, 128, 128, 0.322);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav {
    width: 100%;
    background-color: #5a3a31;
    padding: 1rem;
    border: var(--border);
    text-align: center;
    color: #e2f1af;

}

#app {
    height: 100vh;
}

.notFoundContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2f1af;
}

.container_login {
    width: 100%;
    background-color: #e2f1af;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;


    & a,
    h2 {
        text-decoration: none;
        color: #5a3a31;
    }
}

.container_register {
    width: 100%;
    background-color: #e2f1af;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;


    & a,
    h2 {
        text-decoration: none;
        color: #5a3a31;
    }
}

.form_login {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 30rem;
    justify-content: space-around;
    align-items: center;


    & input,
    button {
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
    }

    & button {
        background-color: #5a3a31;
        color: white;
    }


}

.form_register {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 30rem;
    justify-content: space-around;
    align-items: center;


    & input,
    button {
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
    }

    & button {
        background-color: #5a3a31;
        color: white;
    }
}